.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}



@keyframes top {
 40% {transform: translateY(40px) translateX(-2px) rotate(60deg);}
 70% { opacity: 30%;}
 
}

@keyframes middle {
10% {opacity: 80%;}
40% {opacity: 65%;}
65% {opacity: 50%;}
85% {opacity: 35%;}
100% {opacity: 0%;}
}

@keyframes bottom {
40% {transform: translateY(-32px) translateX(3px)  rotate(-60deg);}
70% { opacity: 30%;}
}

